@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primary-color : #1C64F2;
    --light-gray : #6B7280;
    --whitish-cyan-50 : #ecfeff;
    --whitish-cyan-100 : #cffafe;
}

body{
    font-family: 'Montserrat', sans-serif;
}
 
hr {
    margin: 1rem 0rem;
}

/** container **/

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.link {
    text-decoration: none;
    padding: 0.5rem;
}

.link-primary {
    color: white;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link-secondary {
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/** list **/

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
}

/** navigation bar **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand {
    font-weight: bold;
}

.nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation ul {
    margin-block-end: 0em;
}
/** Header or hero **/

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color : var(--light-gray);
    text-align: center;
}

.hero .heading-inverted {
    color: var(--primary-color);
}

/** responsive **/

.hero .responsive{
    width: 100%;
    max-width: 300px;
    height: auto;
 }

/** section **/

.section {
    padding: 2rem;
    border-radius: 1rem 1rem;
    margin: 0.4rem;
}

.section h3 {
    text-align: center;
}

.section-color-2 {
    background-color: var(--whitish-cyan-50);
}

.section-color-1 {
    background-color: var(--whitish-cyan-100);
}

/** footer **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem ;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
    margin-block: 0em;
}